.about-us {
    margin-top: 80px;
  }
  
  .description__title {
    margin-bottom: 29px;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}


.description {
    margin-bottom: 96px;
}

.description::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
}
.container {
    max-width: 1200px;
    margin: 0px auto;
    width: 100%;
}

.portfolio {
    padding-top: 100px;
}
.portfolio-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.portfolio-filter__button {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 14px 41px;
    margin: 0 14px;
    border: 1px solid #333333;
    border-radius: 0;
    background-color: transparent;
}
.portfolio-filter__button--active {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 14px 41px;
    margin: 0 14px;
    border: 1px solid #333333;
    border-radius: 0;
    background-color: #333333;
    color: #f1ad1d;
}

.portfolio-galery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 275px;
    grid-gap: 15px;
}
.portfolio-galery__preview h3 {
    font-size: 18px;
    font-family: "Lato";
    font-weight: normal;
    color: #111111;
    text-align: center;
}
.portfolio-galery__preview p {
    font-size: 14px;
    font-family: "Lato";
    font-weight: 300;
    color: #5b5b5b;
    text-align: center;
    margin-bottom: 27px;
    line-height: 17px;
}

.portfolio-galery__preview {
    display: none;
    text-align: center;
    border: 2px solid #333333;
    height: 100%;
    padding: 50px 13px;
    box-sizing: border-box;
}

.portfolio-galery__preview hr {
    width: 64px;
    height: 3px;
    background-color: #f1ad1d;
    margin-bottom: 28px;
    margin-top: 25px;
}
.portfolio-galery__item img {
    width: 100%;
    height: 100%;
}

.portfolio-galery__item:hover img {
    display: none;
}
.portfolio-galery__item:hover .portfolio-galery__preview {
    display: block;
}

.about-us {
    margin-top: 80px;
  }
  
  .description__title {
    margin-bottom: 29px;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  
  .description__text {
    font-size: 17px;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
  }
  
  .description {
    margin-bottom: 96px;
  }
  
  .description::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
  }
  
  .about-us-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .side-left,
  .side-right {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 590px;
  }
  .about-us-content__title {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  .about-us-content__text--decorated {
    color: #f1ad1d;
  }
  .about-us-content__text {
    font-family: "Lato";
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 36px;
    text-align: justify;
  }
  .button {
    padding: 19px 27px;
    background-color: #f1ad1d;
    font-family: "Lato";
    font-weight: 700;
    font-size: 14px;
    color: white;
    text-decoration: none;
    display: inline-block;
  }
  .side-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
  }
  .about-us-content__img {
    width: 270px;
    height: 148px;
  }
